*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #172774;
}

.menu{
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom: 1px solid;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: #172774;
}

h2{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #172774;
    width: 100%;
    line-height: 50px;
}

a.tbl-pink{
    background: #FF7777;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover{
    background: #193498;
    text-decoration: none;
}

a.tbl-ungu{
    background: #916BBF;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-ungu:hover{
    background: #091353;
    text-decoration: none;
}
p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    text-align: justify;
}

.tengah{
    text-align: center;
    width: 100%;
}

.list-gambar{
    width:100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.gambar{
    width: 20%;
    margin: 0 auto;
}

.gambar img{
    width: 80%;
}

.gambar p{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #172774;
}

.partner-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner{
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img{
    width: 80%;
}